
node_modules/

COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
unisrv-config.h*
depcomp
install-sh
missing

unisrv-*.tar.gz

srvdb/
srvgdbm

.deps/
Makefile
Makefile.in
config.log
config.status

libcommon.a
unisrvd
dbtool

stamp-h1
test-driver
*.o
*.log
*.trs
.dirstamp

srv.rocks/
config-srv.json
load-accounts.json

